mixin pic(name, ext)
    picture.pic
        //-source(srcset=`images/webp/${name}.webp`, type="image/webp")
        img(src=`/images/${name}.${ext}`)
doctype html
html
  head
    title= titulo
    link(rel="stylesheet" href="/node_modules/bootstrap/dist/css/bootstrap.min.css")
    link(rel="stylesheet" href="/node_modules/font-awesome/css/font-awesome.min.css")
    link(rel='stylesheet', href='/stylesheets/style.css')
  body
    block content
        section.wrapper
            block items
        
        
    script(src="/node_modules/jquery/dist/jquery.min.js")
    script(src="/node_modules/jquery-sticky/jquery.sticky.js")
    script(src="/node_modules/bootstrap/dist/js/bootstrap.min.js")
    script(src="/javascripts/app.js")
