extends layout

block append items
    div.registro
        h1 SOCIEDAD MEXICANA DE ANGEOLOGÍA, CIRUGÍA VASCULAR Y ENDOVASCULAR, A.C.
        form( action="" method="post" ).registro-form
            div
                label(for="registroNombre") Nombre(s)
                input(required type="text" id="registroNombre")
            div
                label(for="registroApellidoP") Apellido paterno
                input(required type="text" id="registroApellidoP")
            div
                label(for="registroApellidoM") Apellido materno
                input(required type="text" id="registroApellidoM")
            div
                label(for="registroGenero") Género
                select(id="registroGenero")
                    option() 
                    option() Masculino
                    option() Femenino
            div
                label(for="registroRfc") RFC
                input(required type="text" id="registroRfc")
            div
                label(for="registroRazonSocial") Razón social
                input(required type="text" id="registroRazonSocial")
            div
                p(for="registroFechaNac") Fecha de nacimiento
                input(required type="date" id="registroFechaNac")
            div
                label(for="registroCorreo") Correo electrónico
                input(aucomplete="off" required type="email" id="registroCorreo")
            div.btns
                button(id="registroBtn" class="btn btn-danger" type="submit") Guardar
                a(href="http://localhost:3000/" id="logBtn" class="btn btn-default") Inicio de Sesión
